.modal-header .close {
    margin-top: -30px;
}

tr.borrowing{
	background-color: rgba(169, 145, 145, 0.59);z
}

a.disabled{
    pointer-events: none;
}

.sidebar .nav li:hover.disabled a {
    opacity: 0.7;
}